<div class="section full mt-2 mb-2">
  <div class="section-title">新規登録</div>
  <div class="wide-block pt-2 pb-2">
    <div class='row'>
      <div class="col-12">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="field">
            <%= f.label :名前 %><br />
            <%= f.text_field :name, class:'form-control', autofocus: true, autocomplete: "name" %>
          </div>
        
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, class:'form-control', autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, class:'form-control', autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label :パスワード（確認） %><br />
            <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "new-password" %>
          </div>
        
          <div class="actions">
            <%= f.submit "登録", class:'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
